<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>CarCareServicesFinal</display-name>
	<servlet>
		<description>
		</description>
		<display-name>CustomerLogin</display-name>
		<servlet-name>CustomerLogin</servlet-name>
		<servlet-class>com.ncs.project.CustomerLogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CustomerLogout</display-name>
		<servlet-name>CustomerLogout</servlet-name>
		<servlet-class>com.ncs.project.CustomerLogout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Registration</display-name>
		<servlet-name>Registration</servlet-name>
		<servlet-class>com.ncs.project.Registration</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CustomerChangePassword</display-name>
		<servlet-name>CustomerChangePassword</servlet-name>
		<servlet-class>com.ncs.project.CustomerChangePassword</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SelectService</display-name>
		<servlet-name>SelectService</servlet-name>
		<servlet-class>com.ncs.project.SelectService</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminLogin</display-name>
		<servlet-name>AdminLogin</servlet-name>
		<servlet-class>com.ncs.project.AdminLogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminChangePassword</display-name>
		<servlet-name>AdminChangePassword</servlet-name>
		<servlet-class>com.ncs.project.AdminChangePassword</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminLogout</display-name>
		<servlet-name>AdminLogout</servlet-name>
		<servlet-class>com.ncs.project.AdminLogout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustomerLogin</servlet-name>
		<url-pattern>/CustomerLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerLogout</servlet-name>
		<url-pattern>/CustomerLogout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Registration</servlet-name>
		<url-pattern>/Registration</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerChangePassword</servlet-name>
		<url-pattern>/CustomerChangePassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectService</servlet-name>
		<url-pattern>/SelectService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminLogin</servlet-name>
		<url-pattern>/AdminLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminChangePassword</servlet-name>
		<url-pattern>/AdminChangePassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminLogout</servlet-name>
		<url-pattern>/AdminLogout</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
